<?include "GlobalVariables.wxi"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package Name="$(var.AppName)"
           Language="1033"
           Version="$(var.BuildVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="4ff77111-7bf2-4a5e-b660-d4328c4c3186"
           InstallerVersion="200"
           Scope="perUser"
           Compressed="yes">

    <MajorUpgrade Schedule="afterInstallInitialize"
                  AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="Newer version already installed" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="$(var.AppName) Main" Level="1">
      <ComponentRef Id="RemoveAll" />
      <ComponentRef Id="RevitAddinComponent2020" />
      <ComponentRef Id="RevitAddinComponent2021" />
      <ComponentRef Id="RevitAddinComponent2022" />
      <ComponentRef Id="RevitAddinComponent2023" />
      <ComponentRef Id="RevitAddinComponent2024" />
      <ComponentRef Id="RevitAddinComponent2025" />

      <ComponentRef Id="PackageContents" />
      <ComponentGroupRef Id="ExecutablesGroup2020" />
      <ComponentGroupRef Id="ExecutablesGroup2021" />
      <ComponentGroupRef Id="ExecutablesGroup2022" />
      <ComponentGroupRef Id="ExecutablesGroup2023" />
      <ComponentGroupRef Id="ExecutablesGroup2024" />
      <ComponentGroupRef Id="ExecutablesGroup2025" />

    </Feature>

    <UI Id="WixUI_Minimal">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="VerifyReadyDlg" />
      <DialogRef Id="WelcomeDlg" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" />

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" />

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" />

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" />

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <WixVariable Id="WixUIBannerBmp" Value="Assets\banner-small.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="Assets\banner-large.jpg" />
    <Icon Id="logo.ico" SourceFile="Assets\rembox-icon-white.ico" />
    <Property Id="ARPPRODUCTICON" Value="logo.ico" />

    <UIRef Id="WixUI_Common" />

    <Property Id="APPLICATIONFOLDER">
      <RegistrySearch Key="SOFTWARE\$(var.Manufacturer)\$(var.AppName)" Root="HKCU" Type="raw" Id="APPLICATIONFOLDER_REGSEARCH" Name="Path" />
    </Property>
  </Package>

  <Fragment>
      <StandardDirectory Id="CommonAppDataFolder">
        <Directory Id="AdskFolder" Name="Autodesk">
          <Directory Id="AppPlugins" Name="ApplicationPlugins">
            <Directory Id="BundleFolder" Name="CampusHelperApp.bundle">
              <Component Id="PackageContents" Guid="62a0ec93-4e26-4444-b81b-d0a7fcaa1cd5">
                <File Id="PackageContentsFile" KeyPath="yes" Source="$(var.CampusHelperApp.Main.ProjectDir)\Manifests\PackageContents.xml" />
              </Component>
              <Directory Id="ContentsFolder" Name="Contents">
                <Directory Id="RevitAddinFolder2020" Name="Revit 2020">
                  <Component Id="RevitAddinComponent2020" Guid="131a6b0a-dc09-44bd-9b10-159b801359af">
                    <File Id="RevitAddinFile2020" KeyPath="yes" Source="$(var.CampusHelperApp.Main.ProjectDir)\Manifests\CampusHelperApp.addin" />
                  </Component>
                </Directory>

                <Directory Id="RevitAddinFolder2021" Name="Revit 2021">
                  <Component Id="RevitAddinComponent2021" Guid="88f4dec6-14a9-4c06-b868-0f32694ae35c">
                    <File Id="RevitAddinFile2021" KeyPath="yes" Source="$(var.CampusHelperApp.Main.ProjectDir)\Manifests\CampusHelperApp.addin" />
                  </Component>
                </Directory>

                <Directory Id="RevitAddinFolder2022" Name="Revit 2022">
                  <Component Id="RevitAddinComponent2022" Guid="0749fd7f-2e89-431c-8bcc-c91e47dec679">
                    <File Id="RevitAddinFile2022" KeyPath="yes" Source="$(var.CampusHelperApp.Main.ProjectDir)\Manifests\CampusHelperApp.addin" />
                  </Component>
                </Directory>

                <Directory Id="RevitAddinFolder2023" Name="Revit 2023">
                  <Component Id="RevitAddinComponent2023" Guid="b68a2045-ad9b-4140-b602-28df0aceaf70">
                    <File Id="RevitAddinFile2023" KeyPath="yes" Source="$(var.CampusHelperApp.Main.ProjectDir)\Manifests\CampusHelperApp.addin" />
                  </Component>
                </Directory>

                <Directory Id="RevitAddinFolder2024" Name="Revit 2024">
                  <Component Id="RevitAddinComponent2024" Guid="287cd965-6f32-4d30-aa1e-58c0815f3d10">
                    <File Id="RevitAddinFile2024" KeyPath="yes" Source="$(var.CampusHelperApp.Main.ProjectDir)\Manifests\CampusHelperApp.addin" />
                  </Component>
                </Directory>

                <Directory Id="RevitAddinFolder2025" Name="Revit 2025">
                  <Component Id="RevitAddinComponent2025" Guid="63470394-3733-41c2-b906-ab1e5abc918a">
                    <File Id="RevitAddinFile2025" KeyPath="yes" Source="$(var.CampusHelperApp.Main.ProjectDir)\Manifests\CampusHelperApp.addin" />
                  </Component>
                </Directory>

                <Component Id="RemoveAll" Guid="30e56c6c-30d8-4dc6-8b6c-1626b0ec5d55">
                  <RemoveFolder Id="RemoveAllFoldersOnUninstall" Directory="BundleFolder" On="uninstall" />
                  <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.Manufacturer)\$(var.AppName)" Name="Path" Type="string" Value="[VersionFolder]" KeyPath="yes" />

                  <util:RemoveFolderEx On="uninstall" Property="VersionFolder" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </StandardDirectory>
    </Fragment>
</Wix>
